WALLET_KEYPAIR=id.json

BUY_TOKEN_MINT=9BB6NFEcjBCtnNLFko2FqVQBq8HHM13kCyYcdQbgpump
BUY_SOL_AMOUNT=0.05

SELL_TOKEN_MINT=9BB6NFEcjBCtnNLFko2FqVQBq8HHM13kCyYcdQbgpump
SELL_TOKEN_AMOUNT=

PRIVACY_RECIPIENT=
PRIVACY_DEP_AMOUNT=
PRIVACY_WID_AMOUNT=
